<style>.columns .bot-img {
  box-shadow: 1px 1px 1px 1px transparent !important;
  animation: pulse 6s infinite;
  border-radius: 50%;
}
.website {
  animation: pulse;
}
#cdm-zone-01 {
  display: none !important;
}
.columns .bot-img {
  box-shadow: 1px 1px 1px 1px transparent !important;
  animation: pulse 2s infinite;
  border-radius: 50%;
}
.website {
  animation: pulse;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fffffe;
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px #fffffe;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(25, 118, 210, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 0 0 0 0 #fffffe;
    box-shadow: 0 0 0 0 #fffffe;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px #fffffe;
    box-shadow: 0 0 0 20px rgba(25, 118, 210, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.website {
  animation: pulse 2s infinite;
  border-radius: 10px;
}
.website {
  animation: pulse 2s infinite;
  border-radius: 10px;
}
.bot-img img {
  -webkit-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 50%;
}
.bot-name {
  font: 600 18px Karla, sans-serif;
  color: #fffffe;
}
body {
  background-color: #202225 !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.lib a {
  color: #fffffe !important;
  content: Made with;
  transition: all 0.8s;
}
.lib a:before {
  content: Created with;
  color: black;
  transition: all 0.8s;
}
.lib a:hover {
  color: black !important;
  transition: all 0.8s;
}
.bot-description {
  color: #fff !important;
  transition: all 0.8s;
}
.btn-orange {
  background-color: #2f3136;
  color: white;
}
.btn-orange:hover {
  background-color: #00000065;
  color: #7289da;
  transition: all 0.2s ease-in-out;
  border-left-style: solid;
}
.atag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #0000003d;
  border-radius: 5px;
  color: #7289da;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-bottom: 3px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-right: 14px !important;
  transition: all 0.5s;
  font-weight: 450;
}
.atag:hover {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  color: #7289da;
  transition: all 0.5s;
  font-weight: 450;
  border-radius: 5px;
}
.atag:after {
  border-bottom: 13px solid transparent;
  border-left: 10px solid #7289da;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: -10px;
  transition: all 0.4s;
  top: 0;
}
.atag:hover:after {
  background: transparent !important;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #7289da;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: -10px;
  transition: all 0.4s;
  top: 0;
}
.bot-tags-title {
  color: black;
}
code {
  background-color: #00000030;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
  border-radius: 5px;
  color: #fffffe;
  transition: all 0.5s;
}
code:hover {
  background-color: #00000045;
  color: #fffffe;
  border: #fffffe;
  transition: all 0.5s;
}
::-moz-selection {
  /* Code for Firefox */
  color: #fffffe;
  background: #00000040;
  border-radius: 15px;
}
::selection {
  color: #fffffe;
  background: #00000040;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: #fffffe;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #fffffe;
}
#menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  background: #fffffe;
  background: #00000045 !important;
  transition: all 0.5s;
  font-weight: 450;
}
#menu ul li a:not(.btn) {
  color: none !important;
  background-color: none !important;
  border-radius: 6px !important;
  transition: all 0.2s;
}
#menu ul li a:not(.btn):hover {
  color: #fffffe !important;
  background-color: #00000045 !important;
  border-radius: 6px !important;
  transition: all 0.2s;
}
#bot-details-page #details .container {
  border-bottom: 1px solid #fffffe;
  border-top: 1px solid #fffffe;
  padding: 40px 0;
}
#bot-details-page .btn-like:after {
  background-color: none;
  color: #fffffe;
  padding-right: 5px;
  content: UPVOTES;
  transition: all 0.8s;
  border-radius: 5px;
}
.btn-like {
  background-color: #00000030;
  color: #fffffe;
  border: none;
  border-radius: 5px;
  transition: all 0.8s;
}
.btn-like:hover {
  background-color: white;
  color: #fffffe;
  padding-right: 5px;
  transition: all 0.8s;
  border-radius: 5px;
}
.owners a {
  color: #fffffe;
}
#createdby b {
  background-color: black;
  display: inline-block;
  height: 25px;
  border-radius: 30px;
  vertical-align: middle;
  transform: translate(0px, -2px);
  margin-left: 3px;
  text-decoration: underline wavy rgb(187, 187, 255) !important;
  transition: all 0.8s;
}
#createdby b:hover {
  background-color: #1d241f;
  display: inline-block;
  height: 25px;
  border-radius: 30px;
  vertical-align: middle;
  transform: translate(0px, -2px);
  margin-left: 3px;
  text-decoration: none !important;
  transition: all 0.8s;
}
.status.green {
  color: #fffffe !important;
  content: Bot is;
}
.status.green::before {
  background-color: #fffffe !important;
  color: #fffffe !important;
}
#edit {
  background-color: #00000045;
  transition: all 0.8s;
  color: #fffffe;
  border-radius: 5px;
}
#edit:hover {
  background-color: white;
  border-radius: 5px;
  color: #fffffe;
  transition: all 0.8s;
}
#delete {
  background-color: #00000045 !important;
  transition: all 0.8s !important;
  color: #fffffe !important;
  border-radius: 5px !important;
}
#delete:hover {
  background-color: white !important;
  border-radius: 5px !important;
  color: #fffffe !important;
  transition: all 0.8s !important;
}
#report {
  background-color: #00000045 !important;
  transition: all 0.8s !important;
  color: #fffffe !important;
  border-radius: 5px !important;
}
#websitelink {
  background-color: #00000045 !important;
  transition: all 0.8s !important;
  color: #fffffe !important;
  border-radius: 5px !important;
}
#websitelink:hover {
  background-color: white !important;
  transition: all 0.8s !important;
  color: #fffffe !important;
  border-radius: 5px !important;
}
#report:hover {
  background-color: white !important;
  border-radius: 5px !important;
  color: #fffffe !important;
  transition: all 0.8s !important;
}
#support {
  background-color: #00000045 !important;
  transition: all 0.8s !important;
  color: #fffffe !important;
  border-radius: 5px !important;
}
#support:hover {
  background-color: white !important;
  border-radius: 5px !important;
  color: #fffffe !important;
  transition: all 0.8s !important;
}
#github {
  background-color: #00000045 !important;
  transition: all 0.8s !important;
  color: #fffffe !important;
  border-radius: 5px !important;
}
#github:hover {
  background-color: white !important;
  border-radius: 5px !important;
  color: #fffffe !important;
  transition: all 0.8s !important;
}
.longdescription .content {
  min-height: 50px;
  position: relative;
  padding: 20px;
  background: #2f3136;
  flex-direction: column;
  flex-wrap: nowrap;
}
#bot-details-page #details {
  margin-top: 1px;
  padding: 0 20px;
}
html {
  background-color: #000000 !important;
}
#createdby {
  color: #fffbfb !important;
}
.shapes-background {
  visibility: hidden;
}
body {
  background-image: url(;https://cdn.wallpapersafari.com/49/82/TXQ06p.jpg;) !important;
  background-size: cover !important;
}
h1,
h2,
h3,
p {
  color: #fffbfb !important;
}

</style>

[![forthebadge made-with-python](https://cdn.discordapp.com/attachments/718213349615337521/718245744338796553/SetsudoBANNER.png)](https://www.python.org/) 

- ## `A moderation bot that is incredibly simple.`

---------


| `Commands`    |                            |
|-------------|----------------------------|
| -Moderation | Shows moderation commands. |
| -Useful     | Shows useful commands.     |
| -Dev        | Shows developer commands.  |


---------


## `Moderation Commands:`
- ### `Ban: Bans a specified member.`
- ### `Kick: Kicks a specified member.`
- ### `Softban: Bans and Unbans a specified user.`
- ### `Unban: Unbans a specified user.`
- ### `Purge: Purges the chat.`
- ### `Warn: Warns a specified member.`
- ### `Mute: Mutes a specified member.`
- ### `Unmute: Unmutes a specified member.`
- ### `Muterole: Creates a muted role.`
- ### `Roles: Lists all roles in the server.`

-----

## `Useful Commands:`
- ### `Ping: Shows the bot latency.`
- ### `Stats: Show information about the bot.`
- ### `Setprefix: Changes the bots prefix.`
- ### `Password: Generates a random password.`
- ### `System: Setsudo's system status.`

-----

## `Developer Commands:`
- ### `Fix: Fixes the Pull command.`
- ### `Pull: Pulls changes from github.`
- ### `Reload: Reloads all commands.`
- ### `Eval: Evaluates code.`
- ### `Pingip: Pings a ip address.`


<h1 style="background-color:LightGray;"></h1>
